@page "/AddStudent"
@page "/AddStudent/{id:int}"
@* @inherits AddStudentBase *@
@using StudentManagement;
@inject NavigationManager NavigationManager
 <PageTitle>AddStudent</PageTitle>
 <div id="addstd">
<h2> Add Student</h2>
<EditForm Model="@student" OnValidSubmit="HandleSubmit" >
    <DataAnnotationsValidator/>
  
    <div id="frt">
            <label for="firstName">FirstName<span id="re"> *</span></label>
            <InputText id="firstName" @bind-Value="student.FirstName" placeholder="Please enter First Name"></InputText>
        <ValidationMessage For="@(()=>student.FirstName)"/>
    </div>
    <div id="lst">
            <label for="lastName">LastName<span id="re"> *</span></label>
            <InputText id="lastName" @bind-Value="student.LastName" placeholder="Please enter Last Name"></InputText>
        <ValidationMessage For="@(()=>student.LastName)" />
    </div>
    <div id="gnd">
            <label for="gender">Gender<span id="re"> *</span></label>
        <InputSelect id="gender" @bind-Value="student.Gender">
            <option value="" >Please Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </InputSelect>
        <ValidationMessage For="@(()=>student.Gender)" />
        </div>
        <div id="combo">
                <label for="dob">DateOfBirth<span id="re"> *</span></label>
            <InputDate id="dob" @bind-Value="@student.DateOfBirth" @bind-Value:format="dd/MM/yyyy"  />
            <ValidationMessage For="@(()=>student.DateOfBirth)" />
                <div id="ag1">
                    <label for="age">Age<span id="re"> *</span></label>
                <InputNumber id="age" @bind-Value="student.Age" ><span>years</span></InputNumber>
                   @*  <ValidationMessage For="@(()=>student.Age)" id="error-age" /> *@
                </div>
        </div>
    
 
    <div id="cts">
        <label for="class">Class</label>
            <InputText id="class" @bind-Value="student.Class" placeholder="Please enter class"></InputText>
    </div>
    <div id="ads">
        <label for="address">Address</label>
            <InputTextArea id="address" @bind-Value="student.Address" placeholder="Please enter address"></InputTextArea>
    </div>
        <div id="btn">
            <button id="save" type="submit" class="btn btn-primary">Save</button>
            <button id="cancel"type="button" @onclick="CancelStudent" class="btn btn-secondary">Cancel</button>
         
        </div>
    

</EditForm>
</div>
@code{
    [Parameter]
    public int? Id { get; set; }
    private Student? student;
    protected override void OnParametersSet()
    {
        if(Id is not null)
        {
            Student foundStudent = StudentService.GetStudent(Id.Value);
            student = new()
                {
                    Id = foundStudent.Id,
                    FirstName = foundStudent.FirstName,
                    LastName = foundStudent.LastName,
                    Gender = foundStudent.Gender,
                    DateOfBirth = foundStudent.DateOfBirth,
                    Age = foundStudent.Age,
                    Class = foundStudent.Class,
                    Address = foundStudent.Address
                };

        }
        else
        {
            student = new()
            {
                    FirstName = "",
                    LastName = "",
                    Class = "",
                    Address = ""
            };
        }
    }

    

    public void HandleSubmit()
    {
        if (student!.Id == 0)
        {
            StudentService.AddStudent(student);
        }
        else
        {
            StudentService.UpdateStudent(student);
        }
        // StudentService.AddStudent(student);
        NavigationManager.NavigateTo("/");
    }
    public void CancelStudent()
    {
        NavigationManager.NavigateTo("/");
    }
    
    
}

    