@page "/"
@using StudentManagement;
  @inject NavigationManager NavigationManager



<div class="contains">
    <h1 class="h1">OurStudent</h1>

        <div class="SearchAdd">
            <label for="searchBox"></label>
        <input type="text" id="searchBox" @bind="Filter" @bind:event="oninput" placeholder="Search..." />
        </div>
    <div> <button type="button" @onclick="AddStudent" class="rounded-button">Add</button></div>
    </div>
    <div class="text-center" id="table-container">
        <table id="userTable">
    <thead>
            <tr class="first-row">
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Class</th>

        </tr>
    </thead>
        <tbody id="tableBody">
            @foreach (var student in students)
        {
                <tr @ondblclick="(()=> EditPage(student.Id))" class="first-row">

                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Gender</td>
                <td>@student.Age</td>
                <td>@student.Class</td>

            </tr>
        }
    </tbody>
</table>
</div>
@code{

    public string Filter { get; set; }
    private List<Student> students;
    private Student? currentStudent;

    protected override void OnInitialized()
    {
        students = StudentService.GetStudents();

        //return base.OnInitializedAsync();
    }
    private void AddStudent()
    {
        NavigationManager.NavigateTo("/AddStudent");
    }

    private void EditPage(int id)
    {
        NavigationManager.NavigateTo($"/EditStudent/{id}");
    }
    private void DeleteStudent(){
        StudentService.DeleteStudent(currentStudent!.Id);
        students = StudentService.GetStudents();
    }
    
}
