@page "/"
@using StudentManagement;
  @inject NavigationManager NavigationManager





<div>
    <button type="button" @onclick="AddStudent">Add</button>
</div>
<table >
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Class</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr @ondblclick="(()=> EditPage(student.Id))" >

                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Gender</td>
                <td>@student.Age</td>
                <td>@student.Class</td>

            </tr>
        }
    </tbody>
</table>

@code{


    private List<Student> students;

    protected override void OnInitialized()
    {
        students = StudentService.GetStudents();

        //return base.OnInitializedAsync();
    }
    private void AddStudent()
    {
        NavigationManager.NavigateTo("/AddStudent");
    }
    // private void EditStudent(int id){
     
    //     NavigationManager.NavigateTo($"/AddStudent/{id}");
    // }
    private void EditPage(int id)
    {
        NavigationManager.NavigateTo($"/AddStudent/{id}");
    }
}
